*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background: radial-gradient(52.5% 100% at 50% 0%, #474851 0%, #191a22 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}
#text{
    font-size: 80px;
    background: linear-gradient(90deg, #FF75C3 0%, #FFA647 20%, #FFE83F 40%, #9FFF5B 60%, #70E2FF 80%, #CD93FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#text2{
    font-size: 36px;
    color: white;
}